langchain
langchain-community
langgraph
langchain-core
langchain-chroma
langchain-google-genai
langchain-openai
langchain-huggingface
transformers
sentence-transformers
chromadb
tenacity
termcolor
pypdf
pymupdf
python-dotenv